@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

body {
  font-family: "Lato", sans-serif;
}

.nav-link {
  color: #272a31;
}

#bottom-navbar-list .nav-link {
  background-color: #272a31;
  color: #fff;
  font-size: x-large;
}

@media only screen and (min-width: 768px) {
  #bottom-navbar-list .nav-link {
    font-size: medium;
  }
}

#top-navbar {
  background-color: #272a31;
  color: #fff;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 95%;
  backdrop-filter: blur(80px);
  transition: height 1s ease;
}

#bottom-navbar {
  background-color: #272a31;
  color: #fff;
}

#nav-hamburguer {
  background-color: #fff;
  color: rgb(39, 42, 50);
}

#hello-message h1 {
  color: #ec5242;
}

#hello-message h3,
h5 {
  color: rgb(87, 87, 87);
}

#hello-message h4 {
  color: #ec5242;
}

.header-div {
  background-image: url(../images/mobile_intro_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .header-div {
    background-image: url(../images/source-bg-desktop.png);
  }
}

#main-program {
  background-color: rgb(39, 42, 50);
  background-image: url(../images/pattern_bg.png);
  background-repeat: repeat;
  color: #fff;
}

#hello-p {
  margin: 0;
  font-size: large;
  font-weight: bold;
}

.div-hello-p {
  background-color: rgb(247, 247, 248);
  opacity: 1;
  padding: 3%;
  margin-top: 3px;
  margin-bottom: 30px;
  font-weight: bold;
}

.div-hello-p-about {
  background-color: #fff;
  padding: 2%;
  opacity: 1;
  font-size: small;
}

#hello-p-about {
  background-color: #fff;
}

.guide-bar {
  width: 53px;
  height: 16px;
  border-bottom: 1px solid rgb(239, 81, 60);
  margin: 0 auto 54px;
}

.guide-bar-grey {
  width: 53px;
  height: 16px;
  border-bottom: 1px solid rgb(87, 87, 87);
  margin: 0 auto 54px;
}

.program-box {
  background: rgba(255, 255, 255, 0.1);
  font-size: medium;
}

#bottom-footer-about {
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0;
}

.p-comment-about {
  font-size: smaller;
  color: #272a31;
}

@media only screen and (min-width: 768px) {
  .program-box {
    background: rgba(255, 255, 255, 0.1);
    font-size: small;
  }

  .p-role {
    font-size: smaller;
  }

  .p-comment {
    font-size: smaller;
  }

  #bottom-footer-about {
    background-color: #272a31;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0;
  }

  .p-comment-about {
    font-size: smaller;
    color: #fff;
  }
}

.program-box-title {
  color: #ec5242;
}

#join-button {
  background-color: #ec5242;
}

#angle-down {
  color: #ec5242;
}

.p-role {
  color: #ec5242;
}

.p-comment {
  color: rgb(87, 87, 87);
}

#more-button {
  color: rgb(87, 87, 87);
}

#partner-title {
  background-color: rgb(87, 87, 87);
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}

.partner-logos {
  filter: grayscale(1);
  width: 75%;
}

.partner-logos2 {
  filter: grayscale(1);
  width: 50%;
}

#bottom-footer {
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0;
}

.hidden {
  display: none;
}

#hello-message {
  margin-top: 8vw;
  padding-bottom: 15vw;
  margin-right: 5%;
  margin-left: 5%;
}

@media only screen and (min-width: 768px) {
  body {
    padding-left: calc((100vw - 768px) / 2);
    padding-right: calc((100vw - 768px) / 2);
    background-color: rgb(87, 87, 87, 0.15);
  }

  #hello-message {
    margin-top: 15vw;
    padding-bottom: 15vw;
    margin-right: 20%;
    margin-left: 5%;
  }

  #navbar-hamburguer {
    display: none;
  }

  #top-navbar {
    background-color: #272a31;
    color: #fff;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
  }

  #top-navbar-list {
    background-color: #272a31;
    padding-right: 18px;
    padding-bottom: 3px;
  }

  .hidden {
    display: contents;
  }

  #nav-close {
    display: none;
  }

  #bottom-navbar {
    color: #272a31;
    background-color: #fff;
  }

  #bottom-navbar-list .nav-link {
    color: #272a31;
    background-color: #fff;
    padding-bottom: 0;
  }

  #nav-logo {
    padding: 0 40px 5px 10px;
  }

  #bottom-navbar-list {
    color: #272a31;
    background-color: #fff;
    padding-top: 7px;
    padding-bottom: 5px;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  #cc-campaign {
    border: solid;
    border-color: #ec5242;
    padding-bottom: 7px;
    margin-bottom: 3px;
    margin-left: 20px;
    margin-right: 15px;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    padding-left: calc((100vw - 1024px) / 2);
    padding-right: calc((100vw - 1024px) / 2);
    background-color: rgb(87, 87, 87, 0.15);
  }
}

#featured-speakers {
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}

#partner-grey-line {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

#program-row-1 {
  padding: 0;
  margin: 0;
}

#hello-message-about {
  padding-left: 10%;
  padding-right: 10%;
  min-height: 100%;
  padding-top: 10vw;
}

#hello-message-about h1 {
  color: #ec5242;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

#link-to-form {
  font-size: small;
  margin: 10%;
  text-align: center;
}

#about-separator-line {
  width: 5%;
  margin-bottom: 10px;
}

.main-about {
  background: url("../images/mobile_intro_bg.png") center center no-repeat
    rgb(247, 247, 248);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .main-about {
    background: url("../images/about_bg_01.png") center center no-repeat
      rgb(247, 247, 248);
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.cc-logo-white {
  display: none;
}

@media only screen and (min-width: 768px) {
  .cc-logo-white {
    display: inline;
    width: 50%;
  }
}

.img-past {
  background: brown;
  padding: 0;
}

.img-past img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
}

.past-conferences {
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: #fff;
}

#past-conferences-p {
  padding-bottom: 20px;
}

.footer-main-about {
  background-color: #272a31;
  padding-top: 60px;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}

#partner-about {
  padding-bottom: 40px;
}

#logo-black {
  width: 80%;
}

@media only screen and (min-width: 768px) {
  .partner-logos {
    width: 100%;
  }

  #partner-about {
    display: none;
  }

  .footer-main-about {
    background-color: #fff;
  }

  #logo-black {
    display: none;
  }

  .program-box {
    height: 308px;
    align-content: flex-start;
  }
}

@media only screen and (min-width: 1024px) {
  .program-box {
    height: 258px;
    align-content: flex-start;
  }
}
