@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

body {
  font-family: "Lato", sans-serif;
}

.nav-link {
  background-color: #fff;
  color: #272a31;
}

#bottom-navbar-list .nav-link {
  background-color: #272a31;
  color: #fff;
}

#top-navbar {
  background-color: #272a31;
  color: #fff;

  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 95%;
  overflow-y: scroll;
  backdrop-filter: blur(80px);
}

#bottom-navbar {
  background-color: #272a31;
  color: #fff;
}

#nav-hamburguer {
  background-color: #fff;
  color: #272a31;
}

#hello-message {
  background-color: brown;
}

#main-program {
  background-color: cadetblue;
}

#featured-speakers {
  background-color: chartreuse;
}

#top-footer {
  background-color: chocolate;
}

#bottom-footer {
  background-color: crimson;
}
